$padding: 5px;
.el {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: yellow 1px solid;
  border-radius: 5px;
  padding: $padding;
  box-sizing: border-box;
  .title {
    vertical-align: top;
  }
  color: wheat;
  position: relative;
}

.el-source {
  background: darkblue;
}
.el-target {
  background: #294;
}

@mixin sub-svg($elSelector, $imageSelector) {
  #{$elSelector} {
    color: black;
    background-color: wheat;
    #{$imageSelector} {
      position: absolute;
      top: 0;
      left: 0;
      path {
        fill: none;
        stroke: black;
        stroke-width: 2px;
      }
    }
  }
}
@include sub-svg(".el-tank", ".tank-image");
@include sub-svg(".el-separator", ".separator-image");
@include sub-svg(".el-pump", ".pump-image");
.separator-image {
  margin-top: 30px;
}
.pump-label {
  float: right;
  margin-right: 2rem;
}

.chart-button {
  cursor: pointer;
  position: absolute;
  right: 5px;
  &:after {
    content: "👁️‍🗨️";
  }
  z-index: 1;
}
