@use "reset-css/reset.css";
@use "@fontsource/roboto";
@use "material" as material;

$body-margin: 8px;
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0 $body-margin $body-margin $body-margin;
  background-color: black;
  color: white;
}
app-root {
  height: calc(100vh - $body-margin);
}

@include material.setup();
